@import '../../variables.scss';
@import '../../styles.scss';

.pikachu {
  width: 200px;
  height: auto;
}
.pokedex-link {
  color: #f44336;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
    filter: saturate(150%);
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.2);
  }
}

.logo-wrapper {
  display: flex;
  width: 620px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.speech-bubble {
  position: relative;
  background: #eeeeee80;
  border-radius: 30px;
  height: fit-content;
  padding: 30px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.438em solid transparent;
  border-left-color: #eeeeee80;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.719em;
  margin-right: -1.437em;
}

@media screen and(max-width: 950px) {
  .pikachu {
    width: 150px;
  }
  .welcome-message {
    font-size: 25px;
  }
  .logo-wrapper {
    width: 360px;
  }
}

@media screen and(max-width: 420px) {
  .pikachu {
    width: 120px;
  }
  .welcome-message {
    font-size: 15px;
  }
  .logo-wrapper {
    width: 250px;
  }
  .speech-bubble {
    padding: 15px;
  }
}
