@import '../src/variables.scss';

* {
  box-sizing: border-box;
  // font-family: 'Roboto Slab', serif;
}

body {
  margin: 0;
}

.picture {
  width: 100%;
  height: 100%;
}

.icon {
  opacity: 0.9;
}

.icon:hover {
  opacity: 1;
}
.icon:active {
  transform: scale(0.95);
}
