<header>
  <h1>Pokedex</h1>
  <form>
    <div
      class="search input-group border rounded-pill p-1 shadow-sm bg-white rounded"
    >
      <input
        type="search"
        placeholder="What pokemon are you looking for?"
        aria-describedby="button-addon3"
        class="form-control bg-none border-0 rounded-pill"
      />
      <div class="input-group-append">
        <button
          id="button-addon3"
          type="button"
          class="btn btn-link text-danger icon"
        >
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</header>

<div class="container">
  <nav>
    <div class="categories">
      <div class="dropdown categories__sort shadow-sm">
        <button
          class="btn btn-secondary dropdown-toggle shadow-sm icon"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Sort by <i class="fas fa-list-ol"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"
            ><i class="fas fa-arrow-up"></i> Index number
          </a>
          <a class="dropdown-item" href="#"
            ><i class="fas fa-arrow-down"></i> Index number
          </a>
          <a class="dropdown-item" href="#"
            ><i class="fas fa-sort-alpha-up-alt"></i> Name A-Z</a
          >
          <a class="dropdown-item" href="#"
            ><i class="fas fa-sort-alpha-down-alt"></i> Name Z-A</a
          >
        </div>
      </div>

      <div class="dropdown categories__filter shadow-sm">
        <button
          class="btn btn-secondary dropdown-toggle shadow-sm icon"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Filter <i class="fas fa-filter"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"
            ><i class="fas fa-splotch"></i> Type</a
          >
          <a class="dropdown-item" href="#"
            ><i class="fas fa-egg"></i> Egg type</a
          >
        </div>
      </div>
    </div>

    <div class="categories-response">
      <!-- generowane małe labelki do wyboru -->
    </div>
  </nav>
</div>
