@import '../../variables.scss';
@import '../../styles.scss';

header {
  background-color: $color-red;
  margin-bottom: 50px;
  border-bottom: 2px solid black;
}

.btn-pokeball {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 6px solid black;
  position: relative;
  top: 50px;
  left: calc((100vw - 100px) / 2);
  background-color: white;
  outline: none;
  opacity: 1;
}
.small-circle {
  width: 50px;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
}

.input-group-append i {
  color: black;
  font-size: 20px;
}

h1 {
  text-align: center;
  padding: 30px;
  font-size: 60px;
  color: black;
}

.mat-chip-list {
  padding: 15px !important;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-size: 0.9rem;
  color: #00000095;
  font-style: italic;
}

.search {
  margin: auto;
  width: 400px;
  top: 20px;
  font-family: 'Comfortaa', cursive;
  border: 2px solid black !important;
}

.search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.categories {
  display: flex;
  justify-content: center;
  .dropdown {
    margin: 20px;
    width: 165px;
  }
  button {
    width: 100%;
    color: black;
    background-color: white;
    border: none;
    border: 1px solid #00000026;
  }
  button:active,
  button:focus {
    background-color: white;
    color: black;
    border: 1px solid #00000026 !important;
  }
  .dropdown-menu {
    width: 165px;
  }
}

.categories-response {
  width: 100%;
  height: auto;
  border-top: 1px solid #00000026;
  border-bottom: 1px solid #00000026;
}

.apply-btn {
  color: black;
  background-color: white;
  border: none;
  border: 1px solid #00000026;
}

.apply-btn:active,
.apply-btn:focus {
  background-color: white !important;
  color: black !important;
  border: 1px solid #00000026 !important;
}

.close {
  color: #5d5353;
}

.marked {
  background-color: $color-red !important;
}

@media screen and(max-width: 430px) {
  .search {
    width: 280px;
  }
  h1 {
    font-size: 50px;
  }
}
